In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
from statsmodels.formula.api import ols

# Two-Way ANOVA without replication

In [2]:
df = pd.DataFrame({'Lab': np.repeat(['lab1', 'lab2', 'lab3','lab4'], 4),
                   'Sample': np.tile(np.repeat(['type1', 'type2', 'type3','type4'], 1), 4),
                   'Recovery': [99.5, 83.0, 96.5, 96.8,
                               105.0, 105.5, 104.0, 108.0,
                               95.4, 81.9, 87.4, 86.3,
                               93.7, 80.8, 84.5, 70.3]})

print(df[:])

#perform two-way ANOVA without replication
model = ols('Recovery ~ C(Lab) + C(Sample)', data=df).fit()
print(sm.stats.anova_lm(model, typ=2))

     Lab Sample  Recovery
0   lab1  type1      99.5
1   lab1  type2      83.0
2   lab1  type3      96.5
3   lab1  type4      96.8
4   lab2  type1     105.0
5   lab2  type2     105.5
6   lab2  type3     104.0
7   lab2  type4     108.0
8   lab3  type1      95.4
9   lab3  type2      81.9
10  lab3  type3      87.4
11  lab3  type4      86.3
12  lab4  type1      93.7
13  lab4  type2      80.8
14  lab4  type3      84.5
15  lab4  type4      70.3
              sum_sq   df          F    PR(>F)
C(Lab)     1201.7225  3.0  11.912888  0.001737
C(Sample)   247.4075  3.0   2.452594  0.130035
Residual    302.6275  9.0        NaN       NaN

In [9]:
bloques = [1,2,3,4,5]
tratamientos = ["T. Control","T1","T2"]
datos = [3.7,4.5,5.7,4.6,6.8,7,4.6,5.2,6.1,4.5,5.2,5.7,4.8,6.9,7.6]

df = pd.DataFrame({"Bloques": np.repeat(bloques,len(bloques)),
                  "Tratamientoos": np.tile(np.repeat(tratamientos,1),len(tratamientos))})#,
#                   "Datos": datos})

ValueError: arrays must all be same length

In [7]:
df

    Bloques
0         1
1         1
2         1
3         1
4         1
5         2
6         2
7         2
8         2
9         2
10        3
11        3
12        3
13        3
14        3
15        4
16        4
17        4
18        4
19        4
20        5
21        5
22        5
23        5
24        5